In [94]:
import pandas as pd

# Load the dataset
file_path = 'crab_dataset.xlsx'  # Replace with your file path
df_2018 = pd.read_excel(file_path, sheet_name='Lobster Data 2018')
df_2019 = pd.read_excel(file_path, sheet_name='Lobster Data 2019')

# Display the first few rows of each sheet
print("2018 Data:")
print(df_2018.head())
print("\n2019 Data:")
print(df_2019.head())

2018 Data:
  Sex  Length(mm)  Diameter(mm)  Height(mm)  WholeWeight(g)  ShuckedWeight(g)  \
0   M       0.455         0.365       0.095          0.5140            0.2245
1   M       0.350         0.265       0.090          0.2255            0.0995
2   F       0.530         0.420       0.135          0.6770            0.2565
3   M       0.440         0.365       0.125          0.5160            0.2155
4   I       0.330         0.255       0.080          0.2050            0.0895

   SellWeight(g)  Spots
0          0.150     15
1          0.070      7
2          0.210      9
3          0.155     10
4          0.055      7

2019 Data:
  Sex  Length(mm)  Diameter(mm)  Height(mm)  WholeWeight(g)  ShuckedWeight(g)  \
0   M       0.425          0.33       0.080          0.3610            0.1340
1   M       0.470          0.35       0.100          0.4775            0.1885
2   F       0.400          0.31       0.115          0.3465            0.1475
3   I       0.370          0.29       0.100          0.2500            0.1025
4   M       0.500          0.38       0.155          0.6600            0.2655

   SellWeight(g)
0          0.125
1          0.175
2          0.115
3          0.085
4          0.215

In [95]:
df_2018 = df_2018.fillna(0)
df_2018.head()

,Sex,Length(mm),Diameter(mm),Height(mm),WholeWeight(g),ShuckedWeight(g),SellWeight(g),Spots
0,M,0.455,0.365,0.095,0.5140,0.2245,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.055,7

In [96]:
df_2019 = df_2019.fillna(0)
df_2019.head()

,Sex,Length(mm),Diameter(mm),Height(mm),WholeWeight(g),ShuckedWeight(g),SellWeight(g)
0,M,0.425,0.33,0.080,0.3610,0.1340,0.125
1,M,0.470,0.35,0.100,0.4775,0.1885,0.175
2,F,0.400,0.31,0.115,0.3465,0.1475,0.115
3,I,0.370,0.29,0.100,0.2500,0.1025,0.085
4,M,0.500,0.38,0.155,0.6600,0.2655,0.215

In [97]:
print(df_2018.isna().sum())  # Count of NaN values per column
print((df_2018 == 0).sum())  # Count of zero values per column
print(df_2019.isna().sum())  # Count of NaN values per column
print((df_2019 == 0).sum())  # Count of zero values per column

Sex                 0
Length(mm)          0
Diameter(mm)        0
Height(mm)          0
WholeWeight(g)      0
ShuckedWeight(g)    0
SellWeight(g)       0
Spots               0
dtype: int64
Sex                 0
Length(mm)          3
Diameter(mm)        2
Height(mm)          4
WholeWeight(g)      5
ShuckedWeight(g)    6
SellWeight(g)       1
Spots               3
dtype: int64
Sex                 0
Length(mm)          0
Diameter(mm)        0
Height(mm)          0
WholeWeight(g)      0
ShuckedWeight(g)    0
SellWeight(g)       0
dtype: int64
Sex                 0
Length(mm)          9
Diameter(mm)        8
Height(mm)          6
WholeWeight(g)      8
ShuckedWeight(g)    6
SellWeight(g)       4
dtype: int64

In [98]:
import pandas as pd
import numpy as np

# Calculate mean values by Sex
mean_values = df_2018.groupby('Sex').mean()

# Function to replace zeros with mean values
def replace_zeros_with_mean(row):
    if row['Sex'] in mean_values.index:
        for col in ['Length(mm)', 'Diameter(mm)', 'Height(mm)', 'WholeWeight(g)', 'ShuckedWeight(g)', 'SellWeight(g)']:
            if row[col] == 0:
                row[col] = mean_values.loc[row['Sex'], col]
    return row

# Apply the function to replace zeros
df_2018_cleaned = df_2018.apply(replace_zeros_with_mean, axis=1)

print("Original DataFrame:")
print(df_2018)

print("\nDataFrame with zeros replaced by means:")
print(df_2018_cleaned)

Original DataFrame:
     Sex  Length(mm)  Diameter(mm)  Height(mm)  WholeWeight(g)  \
0      M       0.455         0.365       0.095          0.5140
1      M       0.350         0.265       0.090          0.2255
2      F       0.530         0.420       0.135          0.6770
3      M       0.440         0.365       0.125          0.5160
4      I       0.330         0.255       0.080          0.2050
...   ..         ...           ...         ...             ...
2092   M       0.530         0.425       0.130          0.7455
2093   F       0.505         0.385       0.115          0.6160
2094   I       0.405         0.305       0.090          0.2825
2095   M       0.415         0.300       0.100          0.3355
2096   M       0.500         0.390       0.145          0.6510

      ShuckedWeight(g)  SellWeight(g)  Spots
0               0.2245          0.150     15
1               0.0995          0.070      7
2               0.2565          0.210      9
3               0.2155          0.155     10
4               0.0895          0.055      7
...                ...            ...    ...
2092            0.2995          0.245     10
2093            0.2430          0.210     11
2094            0.1140          0.095      7
2095            0.1545          0.095      7
2096            0.2730          0.220     11

[2097 rows x 8 columns]

DataFrame with zeros replaced by means:
     Sex  Length(mm)  Diameter(mm)  Height(mm)  WholeWeight(g)  \
0      M       0.455         0.365       0.095          0.5140
1      M       0.350         0.265       0.090          0.2255
2      F       0.530         0.420       0.135          0.6770
3      M       0.440         0.365       0.125          0.5160
4      I       0.330         0.255       0.080          0.2050
...   ..         ...           ...         ...             ...
2092   M       0.530         0.425       0.130          0.7455
2093   F       0.505         0.385       0.115          0.6160
2094   I       0.405         0.305       0.090          0.2825
2095   M       0.415         0.300       0.100          0.3355
2096   M       0.500         0.390       0.145          0.6510

      ShuckedWeight(g)  SellWeight(g)  Spots
0               0.2245          0.150     15
1               0.0995          0.070      7
2               0.2565          0.210      9
3               0.2155          0.155     10
4               0.0895          0.055      7
...                ...            ...    ...
2092            0.2995          0.245     10
2093            0.2430          0.210     11
2094            0.1140          0.095      7
2095            0.1545          0.095      7
2096            0.2730          0.220     11

[2097 rows x 8 columns]

In [82]:
import pandas as pd
import numpy as np

# Calculate mean values by Sex
mean_values = df_2019.groupby('Sex').mean()

# Function to replace zeros with mean values
def replace_zeros_with_mean(row):
    if row['Sex'] in mean_values.index:
        for col in ['Length(mm)', 'Diameter(mm)', 'Height(mm)', 'WholeWeight(g)', 'ShuckedWeight(g)', 'SellWeight(g)']:
            if row[col] == 0:
                row[col] = mean_values.loc[row['Sex'], col]
    return row

# Apply the function to replace zeros
df_2019_cleaned = df_2019.apply(replace_zeros_with_mean, axis=1)

print("Original DataFrame:")
print(df_2019)

print("\nDataFrame with zeros replaced by means:")
print(df_2019_cleaned)

Original DataFrame:
     Sex  Length(mm)  Diameter(mm)  Height(mm)  WholeWeight(g)  \
0      M       0.425         0.330       0.080          0.3610
1      M       0.470         0.350       0.100          0.4775
2      F       0.400         0.310       0.115          0.3465
3      I       0.370         0.290       0.100          0.2500
4      M       0.500         0.380       0.155          0.6600
...   ..         ...           ...         ...             ...
2075   F       0.565         0.450       0.165          0.8870
2076   M       0.590         0.440       0.135          0.9660
2077   M       0.600         0.475       0.000          1.1760
2078   F       0.625         0.485       0.150          1.0945
2079   M       0.710         0.555       0.195          1.9485

      ShuckedWeight(g)  SellWeight(g)
0               0.1340         0.1250
1               0.1885         0.1750
2               0.1475         0.1150
3               0.1025         0.0850
4               0.2655         0.2150
...                ...            ...
2075            0.3700         0.2490
2076            0.4390         0.2605
2077            0.5255         0.3080
2078            0.5310         0.2960
2079            0.9455         0.0000

[2080 rows x 7 columns]

DataFrame with zeros replaced by means:
     Sex  Length(mm)  Diameter(mm)  Height(mm)  WholeWeight(g)  \
0      M       0.425         0.330    0.080000          0.3610
1      M       0.470         0.350    0.100000          0.4775
2      F       0.400         0.310    0.115000          0.3465
3      I       0.370         0.290    0.100000          0.2500
4      M       0.500         0.380    0.155000          0.6600
...   ..         ...           ...         ...             ...
2075   F       0.565         0.450    0.165000          0.8870
2076   M       0.590         0.440    0.135000          0.9660
2077   M       0.600         0.475    0.150674          1.1760
2078   F       0.625         0.485    0.150000          1.0945
2079   M       0.710         0.555    0.195000          1.9485

      ShuckedWeight(g)  SellWeight(g)
0               0.1340       0.125000
1               0.1885       0.175000
2               0.1475       0.115000
3               0.1025       0.085000
4               0.2655       0.215000
...                ...            ...
2075            0.3700       0.249000
2076            0.4390       0.260500
2077            0.5255       0.308000
2078            0.5310       0.296000
2079            0.9455       0.282092

[2080 rows x 7 columns]

In [85]:
import pandas as pd

# Load the existing cleaned data from the Excel file
input_file = 'modified_crab_dataset.xlsx'
df_2018_cleaned = pd.read_excel(input_file, sheet_name='Lobster 2018')
df_2019_cleaned = pd.read_excel(input_file, sheet_name='Lobster 2019')

# Add a column for the year
df_2018_cleaned['Year'] = 2018
df_2019_cleaned['Year'] = 2019

# Concatenate the DataFrames into a single DataFrame
combined_df = pd.concat([df_2018_cleaned, df_2019_cleaned], ignore_index=True)

# Specify the output file path
output_file_combined = 'combined_lobster_data.xlsx'

# Export the combined DataFrame to a new Excel file
combined_df.to_excel(output_file_combined, index=False)

print(f"Combined data exported to {output_file_combined} successfully.")

Combined data exported to combined_lobster_data.xlsx successfully.

In [86]:
average_length_by_sex = combined_df.groupby('Sex')['Length(mm)'].mean()

# Display the result
print(average_length_by_sex)

Sex
0    0.362000
F    0.579242
I    0.428041
M    0.561389
Name: Length(mm), dtype: float64

In [62]:
print(df_2018_cleaned.isna().sum())  # Count of NaN values per column
print((df_2018_cleaned == 0).sum())  # Count of zero values per column
print(df_2019_cleaned.isna().sum())  # Count of NaN values per column
print((df_2019_cleaned == 0).sum())  # Count of zero values per column

Sex                 0
Length(mm)          0
Diameter(mm)        0
Height(mm)          0
WholeWeight(g)      0
ShuckedWeight(g)    0
SellWeight(g)       0
Spots               0
dtype: int64
Sex                 0
Length(mm)          0
Diameter(mm)        0
Height(mm)          0
WholeWeight(g)      0
ShuckedWeight(g)    0
SellWeight(g)       0
Spots               3
dtype: int64
Sex                 0
Length(mm)          0
Diameter(mm)        0
Height(mm)          0
WholeWeight(g)      0
ShuckedWeight(g)    0
SellWeight(g)       0
dtype: int64
Sex                 0
Length(mm)          0
Diameter(mm)        0
Height(mm)          0
WholeWeight(g)      0
ShuckedWeight(g)    0
SellWeight(g)       0
dtype: int64

In [ ]:
import pandas as pd

# Load the Excel sheets into pandas DataFrames
lobster_2018 = pd.read_excel('path_to_your_file.xlsx', sheet_name='lobster 2018')
lobster_2019 = pd.read_excel('path_to_your_file.xlsx', sheet_name='lobster 2019')

# Add a column for the year
lobster_2018['Year'] = 2018
lobster_2019['Year'] = 2019

# Concatenate the DataFrames into a single DataFrame
combined_df = pd.concat([lobster_2018, lobster_2019], ignore_index=True)

# Export the combined DataFrame to a new Excel file
combined_df.to_excel('combined_lobster_data.xlsx', index=False)

In [90]:

combined_df_filtered = combined_df.drop(['Spots', 'Year'], axis=1)

# Calculate descriptive statistics
desc_stats = combined_df_filtered.describe()
print(desc_stats)

        Length(mm)  Diameter(mm)   Height(mm)  WholeWeight(g)  \
count  4177.000000   4177.000000  4177.000000     4177.000000
mean      0.524054      0.407870     0.139529        0.828875
std       0.119976      0.099102     0.041689        0.490188
min       0.075000      0.055000     0.010000        0.002000
25%       0.450000      0.350000     0.115000        0.441500
50%       0.545000      0.425000     0.140000        0.800000
75%       0.615000      0.480000     0.165000        1.151000
max       0.815000      0.650000     1.130000        2.825500

       ShuckedWeight(g)  SellWeight(g)
count       4177.000000    4177.000000
mean           0.359604       0.238707
std            0.221797       0.139063
min            0.001000       0.001500
25%            0.186500       0.130000
50%            0.336000       0.234000
75%            0.501500       0.327500
max            1.488000       1.005000